/* CSS declarations go here */
/*
Ejemplo 1
h1{
	color: red;
}
.clase-1{
	background-color: #004; 
}
.clase-2{
	background-color: #999;
}
*/

/*Ejemplo 7 Barras
#barras div{
	background-color: green;
	height: 15px;
	color: white;
	margin: 2px;
	text-align: right;
	padding: 10px;
}*/